.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0 0;
  padding: 10px 35px 10px 34px;
}

.u-section-1 .u-btn-2 {
  margin: -46px auto 0 151px;
}

.u-section-1 .u-btn-3 {
  margin: 30px auto 0 0;
  padding: 10px 17px 10px 15px;
}

.u-section-1 .u-btn-4 {
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}